@import "tailwindcss";


@theme {
  --animate-wiggle: wiggle 3s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
}



/* Transitions */
